alembic 
altair 
anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-generator==1.10
attrs 
Babel 
backcall 
backports.functools-lru-cache 
beautifulsoup4 
bleach 
blinker==1.4
bokeh 
Bottleneck 
brotlipy 
cached-property 
certifi==2022.6.15
certipy==0.1.3
cffi 
charset-normalizer 
click 
cloudpickle 
colorama 
conda==4.13.0
conda-package-handling 
cryptography 
cycler 
Cython 
cytoolz 
dask 
debugpy 
decorator 
defusedxml 
dill 
distributed 
entrypoints 
executing 
fastjsonschema 
flit_core 
fonttools 
fsspec 
gmpy2 
greenlet 
h5py 
HeapDict==1.0.1
idna 
imagecodecs 
imageio 
importlib-metadata 
importlib-resources 
ipykernel 
ipympl 
ipython 
ipython-genutils==0.2.0
ipython-sql==0.4.1
ipywidgets 
jedi 
Jinja2 
joblib 
json5 
jsonschema 
jupyter-client 
jupyter-server 
jupyter-telemetry 
jupyter_core 
jupyterhub 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
kiwisolver 
libmambapy 
llvmlite==0.38.1
locket 
lz4 
Mako 
mamba 
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune 
mpmath 
msgpack 
munkres==1.1.4
mysql-connector-python==8.0.30
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
notebook 
notebook-shim 
numba 
numexpr 
numpy 
oauthlib 
packaging 
pamela==1.0.0
pandas==1.4.3
pandocfilters 
parso 
partd 
patsy 
pexpect 
pickleshare 
Pillow 
pkgutil_resolve_name 
prettytable==0.7.2
prometheus-client 
prompt-toolkit 
protobuf==3.20.1
psutil 
ptyprocess 
pure-eval 
pycosat 
pycparser 
pycurl==7.45.1
Pygments 
PyJWT 
PyMySQL==1.0.2
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyWavelets 
PyYAML 
pyzmq 
requests 
ruamel-yaml-conda 
ruamel.yaml 
ruamel.yaml.clib 
scikit-image 
scikit-learn 
scipy==1.9.0
seaborn 
Send2Trash 
six 
sniffio 
sortedcontainers 
soupsieve 
SQLAlchemy==1.4.39
sqlparse==0.4.2
stack-data 
statsmodels 
sympy 
tables 
tblib 
terminado 
threadpoolctl 
tifffile 
tinycss2 
toolz 
tornado 
tqdm 
traitlets 
typing_extensions 
unicodedata2 
urllib3 
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension 
xlrd 
zict 
zipp 
